[submodule "vendor/seedthree"]
	path = vendor/seedthree
	url = https://github.com/SeloSlav/SeedThree.git
[submodule "vendor/architecture-kit-upstream"]
	path = vendor/architecture-kit-upstream
	url = https://github.com/Lunarsong/architecture-kit.git
